
Probability/.DS_Store
Probability/Part A/.DS_Store
.DS_Store
.Rhistory
.gitattributes
Vision Academy
Juan
Summer Camp Content Outline.md
Vision Academy/光剑营每日反馈.md
Vision Academy/UK Summer Camp.md
Vision Academy/Mock Interview 1.md
Vision Academy/Mock Interview 2.md
Vision Academy/Self Notes.md
Vision Academy/UK Summer Camp.md
Vision Academy/Final Day.md
Vision Academy/Exercise Day 9.md
Vision Academy/Exercise Day 7 - with Source.md
Vision Academy/Exercise Day 1 - with Source.md
Vision Academy/Exercise Day 1 - For students.md
Vision Academy/Euler 753.md
Vision Academy/Daily Test Day 9 Extra.md
Vision Academy/Daily Test Day 5.md
Vision Academy/Daily Test Day 5 Soln.md
Vision Academy/Daily Test Day 4.md
Vision Academy/Daily Test Day 4 Soln.md
Vision Academy/Daily Test Day 3.md
Vision Academy/Daily Test Day 3 Soln.md
Vision Academy/Daily Test Day 2.md
Vision Academy/Daily Test Day 2 Soln.md
Vision Academy/Daily Test Day 1.md
Vision Academy/Daily Test Day 1 Soln.md
Summer Camp Content Outline.md
Juan/Squarepoint.md
Juan/Quantedge Glassdoor.md
Juan/OPTIVER.md
Juan/Jane Street.md
Juan/HRT.md
Juan/Five Rings.md
Juan/DRW OT.md
.obsidian/workspace.json
Kaggle/Intro to ML/Underfitting and Overfitting.md
Kaggle/Intro to ML/Pandas.md
Kaggle/Intro to ML/train_test_split.md
.obsidian/plugins/obsidian-activity-history/data.json